* {
    margin: 0;
    box-sizing: border-box;
    font-family:"CustomFont"; 
}

@font-face {
    font-family: "CustomFont";
    src: url("../fonts/Roboto-Regular.ttf");
}

.page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover{
    background-color: white;
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(100, 156, 156);
}